### Go ###
# Binaries for programs and plugins
*.exe
*.run
*.dll
*.so
*.dylib

# Log file
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Vendor packages which can be reinstall via dependencies management tools
vendor/

# IDE specific files
.idea/
.vscode/

.DS_Store
# Debug files
debug*
bin

config/config.dev.yml
config/config.staging.yml
# Binary run file